################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fms-dev-5777-305266462-328582127.VC.VC.opendb
